* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}


.zone {
    cursor:pointer;
    transition: all 0.5s linear;
}

a {
    text-decoration: none;
}

/* NAV */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

img {
    max-width: 100%;

}

.container {
    max-width: 100%;
    padding: 0 px;
    margin: 0 auto;
}

.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: white;
    -webkit-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px;
    -moz-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px;
    -o-box-shadow:rgba(0,0,0,0.2) 0px 5px 15px;
    box-shadow:rgba(0,0,0,0.2) 0px 5px 15px;
}

h6 {
    text-decoration: none;
    font-size: 18px;
    color: #914951;
    font-family: poppins;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    .main-nav a {
        font-size: 10px;
        padding: 0;
        }
        .cover {
            padding-top: 120px;
        }
}

.main-nav ul {
    text-align: center;
}

.main-nav li {
    display: inline;
}

.main-nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    color: #242948;
    font-weight: 800;
}

.main-nav a:hover {
        transition: 0.4s;
        color: #914951
}

/* TITLE */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 80px 20px 120px 20px;
    background-color: white;
}

p {
    font-size: 30px;
    letter-spacing: 2px;
    color: #242948;
    text-align: center;
    justify-content: center;
}


/* COVER */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: white;
}

.cover {
    margin: 0;
    padding-top: 60px;
}

/* GRID */
.grid-wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    background-color: white;
    padding-bottom: 250px;
}

.item {
    text-align: center;
    justify-content: center;
    color: white;
}

.box > img {
    width: 100%;
}

.box {
   background-color: rgb(230, 127, 127);
   padding: 100px;
   margin: 20px;
   border-radius: 16px;
   -webkit-box-shadow: inset rgba(0,0,0,0.5) 0px 0px 20px;
-moz-box-shadow: inset rgba(0,0,0,0.5) 0px 0px 20px;
    -o-box-shadow: inset rgba(0,0,0,0.5) 0px 0px 20px;
    box-shadow: inset rgba(0,0,0,0.5) 0px 0px 20px;
}

.box:hover {
    -webkit-transform:rotate(1.5deg);
    -moz-transform:rotate(1.5deg);
    -o-transform:rotate(1.5deg);
    transform:rotate(1.5deg);
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 10px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 10px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 10px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 10px;
    transition: 0.5s;
}

.chef {
    background: url(img/vector-chef.png);
    background-repeat: no-repeat;
    background-position: cover;
    padding-bottom: 150px;
}

.chefp {
    display: flex;
    margin-left: 50%;
    color: #242948;
    font-size: 18px;
    padding: 120px 130px 180px 130px;
    line-height: 2em;
    text-align: left;
}

@media only screen and (max-width: 800px) {
    .chefp {
        margin: 0;
        color: black;
        font-size: 14px;
        line-height: 2em;
    }
    p{
        font-size: 25px;
    }
}

@media only screen and (max-width: 800px) {
    .chefp {
        margin: 0;
        color: black;
        font-size: 14px;
        padding: 600px 0px 130px 30px;
        line-height: 2em;
    }
}

@media only screen and (max-width: 1200px) {
    .chefp {
        margin: 0;
        color: black;
        font-size: 16px;
        padding: 600px 0px 130px 30px;
        line-height: 2em;
    }
}

        /* Call To Action */
.CTA {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 50px 20px 20px 20px;
    background-color: white;
}

.CTA p {
    font-size: 20px;
}

.btn {
    padding: 35px 0px 180px 0px;
}

button {
    margin-left: 46%;
    text-align: center;
    padding: 20px 40px 20px 40px;
    border: none;
    background-color: rgb(230, 127, 127);
    color: white;
    font-size: 20px;
    font-family: poppins;
    border-radius: 100px;
    cursor: pointer;
}

button:hover {
    -webkit-box-shadow:rgba(0,0,0,0.4) 0px 5px 10px;
    -moz-box-shadow:rgba(0,0,0,0.4) 0px 5px 10px;
    -o-box-shadow:rgba(0,0,0,0.4) 0px 5px 10px;
    box-shadow:rgba(0,0,0,0.4) 0px 5px 10px;
    transition: 0.5s;
}

@media only screen and (max-width: 800px) {
    button {
        margin-left: 30%;
    }
}

            /* Footer */

footer {
    background-color: #242948;
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}


